<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <!-- <%- include('partials/navigation') %> -->

    <main class="container vh-100 d-flex align-items-center">
        <section class="justify-content-center w-50">
            <div class="">
                <h1>Pulse</h1>
            </div>

            <div>

                <div class="row align-items-end">
                    <time class="col-auto time">
                        <%= date[0]%>
                    </time>
                    <time class="col-sm-2 time-abr">
                        <%= date[1]%>
                    </time>
                </div>

                <div>
                    <time class="date">
                        <%= date[2]%>
                    </time>
                </div>

            </div>
        </section>

        <section class="tasks-section">
            <header>
                <h1>Tareas y Recordatorios</h1>
                <h4><%= date[3] %>, <%= username %> ✌</h4>
            </header>

            <div class="container">
                <button id="btnAddTask">Agregar Tarea</button>
                <button class="options-button">&#8230;</button>
            </div>

            <div class="tasks-container h-75 m-10">
                <%- include('partials/tasksList', {tasks: tasks}) %>
            </div>
        </section>

    </main>

    <%- include('partials/footer') %>

    <script src="../public/js/clientScripts.js"></script>
</body>

</html>