<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <!-- <%- include('partials/navigation') %> -->

    <main class="container vh-100 d-flex align-items-center p-0">
        <section class="justify-content-center w-50">
            <div class="">
                <h1>Pulse</h1>
            </div>

            <div>

                <div class="row align-items-end">
                    <time class="col-auto time">
                        <%= date[0]%>
                    </time>
                    <time class="col-sm-2 time-abr">
                        <%= date[1]%>
                    </time>
                </div>

                <div>
                    <time class="date">
                        <%= date[2]%>
                    </time>
                </div>

            </div>
        </section>

        <section class="tasks-section mh-100">
            <header class="">
                <h1>Tareas y Recordatorios</h1>
                <h4><%= date[3] %>, <%= username %> ✌</h4>
            </header>

            <div class="">
                <div class="d-flex">
                    <button id="btnAddTask" class="menu-button h-100">
                        <i class="bi bi-journal-plus"></i>
                        <span>Añadir</span>
                    </button>
                    <button id="btnCheckTask" class="menu-button">
                        <i class="bi bi-journal-check"></i>
                        <span>Completar</span>
                    </button>
                    <button id="btnOptions" class="menu-button">
                        <i class="bi bi-input-cursor-text"></i>
                        <!-- <i class="bi bi-journal-arrow-down"></i> -->
                        <span>Buscar</span>
                    </button>
                </div>

                <%- include('partials/searchBar') %>

            </div>

            <div class="tasks-container">
                <%- include('partials/tasksList', {tasksPending: tasksPending, tasksCompleted: tasksCompleted}) %>
            </div>
        </section>

    </main>

    <%- include('partials/footer') %>
</body>

</html>