<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <!-- <%- include('partials/navigation') %> -->

    <main class="container vh-100 d-flex align-items-center">
        <section class="justify-content-center w-50">
            <div class="">
                <h1>Pulse</h1>
            </div>

            <div>

                <div class="row align-items-end">
                    <time class="col-auto time">
                        <%= date[0]%>
                    </time>
                    <time class="col-sm-2 time-abr">
                        <%= date[1]%>
                    </time>
                </div>

                <div>
                    <time class="date">
                        <%= date[2]%>
                    </time>
                </div>

            </div>
        </section>

        <section class="tasks-section">
            <header>
                <h1>Tareas y Recordatorios</h1>
                <h4><%= date[3] %>, <%= username %> ✌</h4>
            </header>

            <div class="tasks-container h-75 m-10">

                <ul class="tasks-list">
                    <% tasks.forEach(task=> { %>
                        <li class="task">
                            <div class="task-header">
                                <input type="checkbox" class="checkbox" id="<%= task.id %>">
                                <label for="<%= task.id %>"><%= task.title %></label>
                                <div class="text-body-secondary"><%= task.dueDate %> | <%= task.status %></div>
                            </div>
                            <div class="task-content">
                                <div class="text-body-secondary"><%= task.description %></div>
                            </div>
                            <div class="priority-circle <%= task.priority %>"></div>
                        </li>
                        <% }); %>
                </ul>

            </div>

            <div class="task input">
                <input type="text">
                <button class="btn btn-primary">Agregar Tarea</button>
            </div>

        </section>

    </main>

    <%- include('partials/footer') %>

</body>

</html>