<%- include('contextMenu') %>
<div class="tasks-pending-header" id="tasks-pending">
    <h4 class="m-0">Pendientes</h4>
</div>

<ul class="tasks-list" id="tasks-pending-ul">
    <% tasksPending.forEach(task=> {%>
        <li class="task" id="<%= task.id %>">
            <div class="task-header">
                <input type="checkbox" class="task-checkbox" id="<%= task.id %>">
                <span class="task-title"><%= task.title %></span>
                <div class="task-info text-body-secondary"><%= task.dueDateView %> | <%= task.category %></div>
                <div class="task-due-date" hidden ><%= task.dueDate %></div>
            </div>
            <div class="task-content">
                <div class="text-body-secondary">
                    <span class="task-description">
                        <%= task.description %>
                    </span>
                </div>
            </div>
            <div class="priority-circle <%= task.priority %>"></div>
        </li>
    <% }); %>
</ul>

<div class="tasks-completed-header" id="tasks-completed">
    <div class="d-flex justify-content-between">
        <h4 class="mb-0">Completadas</h4>
        <button id="btnDeleteCompleteTasks" class="menu-button">
            <i class="bi bi-journal-x"></i>
            <span>Limpiar</span>
        </button>
    </div>
</div>

<ul class="tasks-list task-list-completed" id="tasks-completed-ul">
    <% tasksCompleted.forEach(task=> {%>
        <li class="task" id="<%= task.id %>">
            <div class="task-header">
                <span><%= task.title %></span>
                <div class="task-info text-body-secondary"><%= task.dueDate %> | <%= task.category %></div>
                <div class="task-due-date" hidden >Completada</div>                
            </div>
            <div class="task-content">
                <div class="text-body-secondary">
                    <span class="task-description"><%= task.description %></span>
                </div>
            </div>
            <div class="priority-circle"></div>
        </li>
    <% }); %>
</ul>